:root{
    --icon-width: 79px;
    --icon-height:79px;
    --num-icons : 9;
}

html , body {
    height:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background :gray;  
    
}
.container{
    background-image: url(./assets/atlas\ contest\ slot\ screen\ BGArtboard\ 1.png);
    background-position: top center;
    background-size: cover;
    top:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    height: 100%;
    margin: auto;
}
.container img{
    position:absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    display: none;

}
.slots {
    margin:65% auto auto auto;
    width: calc(3.1*var(--icon-width));
    height: calc(3*var(--icon-height));
    border:3px solid transparent;
    display: flex;
    padding:calc(0.1*var(--icon-width));
    justify-content: space-between;
    position: relative;
    
}
.slots-pre{
    border: 2px solid #FFD655;
    position: absolute;
    width: 105%;
    height: 105%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
}
.slots-post{
    content: '';
    position: absolute;
    width:93.5%;
    height: 94%;
    border: 2px solid #FFD655;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    z-index: 100;
}
.slots::before{
    position: absolute;
    content: '';
    width: 97%;
    height: 97.5%;
border: 7px dotted #FFD655;
border-radius: 40px;
opacity: 1;
filter: blur(1px);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.slots::after{
    position: absolute;
    content: '';
    width: 94%;
    height: 93.5%;
    border: 15px solid #861818;
    border-radius: 40px;
    background-image: url(./assets/atlas\ slot\ machineAsset\ 30filter.svg);
    background-size: 255px 350px;
    background-position: center;
    background-repeat: no-repeat;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.slots-pre{
    border:2px solid #FFD655;
}
.reel{
    position: relative;
width:var(--icon-width);
height: calc(3*var(--icon-height));
background-image: url(./assets/reel-resized.png);
background-repeat: repeat-y;
background-position: 0 0;
}
.reel:nth-of-type(1)::after,.reel:nth-of-type(2)::after{
    border-right: calc(.05*var(--icon-width)) solid #340000;
    content:'';
    height: 100%;
    width:100%;
    position:absolute;
}
.reel:nth-of-type(1){
    border-radius:10px 0 0 10px;
}
.reel:nth-of-type(3){
    border-radius: 0 10px 10px 0;
}

.roll{
    width: 60%;
    font-weight:bolder;
    letter-spacing: 2px;
    height: 80px;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: .5s ease;
    background: #340000;
    border-radius: 25px;
    /* background-image: url(./assets/atlas\ slot\ machineAsset\ 27button.svg); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    margin-bottom: 20%;
    color: #FFD655;
    position: relative;
    border:none;
    text-shadow: 0px 0px .8rem #FFD655;
}
.roll::after{
    position: absolute;
    width:100%;
    height: 100%;
    content:'';
    border:5px solid;
    border-radius: 25px;
    /* border-image: url(./assets/atlas\ slot\ machineAsset\ 29frame.svg) 30 10% repeat; */
    

}