:root{
    --icon-width: 90px;
    --icon-height:79px;
    --num-icons : 9;
}

html , body {
    height:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background :gray;  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    height: 70%;
    margin: auto;
}

.slots {
    margin: auto;
    width: calc(3.2*var(--icon-width));
    height: calc(3*var(--icon-height));
    border:3px solid transparent;
    display: flex;
    padding:calc(0.1*var(--icon-width));
    justify-content: space-between;
    position: relative;
}
.slots::before{
    position: absolute;
    content: '';
    width: 98%;
    height: 97%;
border: 8px dotted #FFD655;
border-radius: 57px;
opacity: 1;
filter: blur(1px);

    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.slots::after{
    position: absolute;
    content: '';
    width: 90%;
    height: 94.5%;
    border: 15px #340000 solid;
    border-radius: 57px;
    background-image: url(./assets/atlas\ slot\ machineAsset\ 30filter.svg);
    background-size: 255px 350px;
    background-position: center;
    background-repeat: no-repeat;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.reel{
    position: relative;
width:var(--icon-width);
height: calc(3*var(--icon-height));
background-image: url(./assets/strip-resized.png);
background-repeat: repeat-y;
background-position: 0 0;
}
.reel:nth-of-type(1)::after,.reel:nth-of-type(2)::after{
    border-right: calc(.05*var(--icon-width)) solid #340000;
    content:'';
    height: 100%;
    width:100%;
    position:absolute;
}
.reel:nth-of-type(1){
    border-radius:10px 0 0 10px;
}
.reel:nth-of-type(3){
    border-radius: 0 10px 10px 0;
}
.roll{
    width:150px;
    height: 50px;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: red;
    margin-bottom:20px;
    cursor: pointer;
    transition: .5s ease;
}